/* im bad at formatting my css lol */
label[for=id_comment]{
	display: block;
}

.actions{
	display: inline-block;
}

.actions td:not(:last-child):after{
	content: " - ";
	margin-right: 5px;
}

.center{
	margin: 0 auto;
	text-align: center;
}

.center .g-recaptcha div {
	margin: auto;
}

.container{
	margin-top: 10px;
}

.content{
	width: 800px;
}

.content td{
	word-break: break-all;
}

.comment-tr{
	font-size: 10px;
}

.comment-tr .profile-picture{
	width: 30px !important;
	height: 30px !important;
}

.comments{
	margin-left: 60px;
}

.comments form{
	display: none;
}

.errorlist li{
	color: red;
	font-weight: bold;
	list-style: none;
}

div.image-attachment{
	width: 100%;
	height: 100%;
	display: flex;
	position: fixed;
	justify-content: center;
	align-items: center;
	background-color: rgba(96, 96, 96, 0.8);
	z-index: 5;
}

tr.image-attachment img{
	width: 50px;
	height: 50px;
	cursor: pointer;
}

.notifications-bar{
	background-color: rgb(230, 230, 230);
	color: black;
	display: block;
	float: right;
	width: 250px;
	height: 150px;
	padding: 0 10px;
	overflow-y: scroll;
}

.notification{
	width: 100%;
}

.notification:hover{
	background-color: aliceblue;
}

.notification-text{
	padding-left: 5px;
	vertical-align: top;
	text-align: left;
	line-height: 100%;
	padding-right: 20px;
	color: black !important;
	font-size: 10px;
	font-weight: normal !important;
}

.number{
	position: absolute;
	background-color: red;
	top: -10px;
}

.profile-picture{
	width: 50px;
	height: 50px;
}

.post .profile-picture{
	margin-right: 15px;
}

.post{
	display: block;
	padding-bottom: 10px;
}

.profile-actions{
	display: inline-table;
	background-color: rgba(128, 128, 128, 0.8);
	padding: 0 10px;
}

.profile-bar{
	position: relative;
	margin-bottom: 50px;
}

.topbar{
	height: 31px;
	width: 100%;
	background-color: #2AAAF4;
	position: fixed;
	padding: 0px 50px 0px 50px;
	color: white;
	z-index: 10;
}

.topbar a{
	color: #C4DFE9;
	font-weight: bold;
	text-decoration: none;
}

.topbar a:hover{
	color: white;
}

.topbar #actions{
	float: right;
	padding: 5px;
}

.topbar-block{
	width: 100%;
	height: 31px;
}

.write_post textarea{
	width: 100%;
	resize: none;
}

#refresh{
	cursor: pointer;
}

#profile-info{
	background-color: rgb(232, 232, 232);
	cursor: pointer;
}

#profile-info th{
	padding-right: 10px;
}

#profile-info tr:nth-child(n+5){
	display: none;
}
