{% load humanize %}
{% load toonbook %}

<tr class="comment-tr">
	<td>
		<div class="comment" data-id="{{ id }}">
			<table>
				<tr>
					<td><img class="profile-picture" src="{{ picture }}"></td>
					
					<td>
						<table>
							<tr class="username">
								<th><a href="/profile/{{ username }}" data-id="{{ toon_id }}">{{ toon_name }}</a></th>
							</tr>
							
							<tr class="content">
								<td>{{ post|post_filter }}</td>
							</tr>
							
							<tr class="actions">
								{% if likes|length > 0 %}
									<td><a href="#" class="likes" title="{% for like in likes %}{% if forloop.counter == likes.count and forloop.counter > 1 %}and {% endif %}{{ like.get_user.toon_name }}{% if forloop.counter != likes.count %},{% endif%} {% endfor %}liked this">{{ likes|length }} liked this</a></td>
								{% endif %}
								<td><a href="#" class="like-action-comment">{{ liked|yesno:"Unlike,Like" }}</a></td>
								{% if created %}
									<td><a href="#" class="delete-action-comment">Delete</a></td>
								{% endif %}
								<td><abbr title="{{ date }}">{{ date|timesince }} ago</abbr></td>
							</tr>
						</table>
					</td>
				</tr>
			</table>
		</div>
	</td>
</tr>
