<table style="width: 90%">
	<tr>
		<td><a href="#" id="read_all" style="color: black; text-align: center">Mark all as read</a></td>
	</tr>

	{% for notif in notifications %}
		<tr>
			<td>
				<a href="{{ notif.link }}">
				<table class="notification">
					<tr>
						<td>
							<a href="/profile/{{ notif.get_creator.username}}/">
								<img src="{{ notif.get_creator.picture }}" class="profile-picture">
							</a>
						</td>

						<td class="notification-text">
							{% if notif.notif_type == 1 %}
								{{ notif.get_creator.toon_name }} liked your post.
							{% elif notif.notif_type == 2 %}
								{{ notif.get_creator.toon_name }} commented on your post.
							{% elif notif.notif_type == 3 %}
								{{ notif.get_creator.toon_name }} liked a post you commented on.
							{% elif notif.notif_type == 4 %}
								{{ notif.get_creator.toon_name }} commented on a post you commented on.
							{% elif notif.notif_type == 5 %}
								{{ notif.get_creator.toon_name }} liked your comment.
							{% endif %}
						</td>
					</tr>
				</table>
				</a>
			</td>
		</tr>
	{% endfor %}
</table>
