{% load humanize %}
{% load toonbook %}

{% if standalone %}
	<script>
		function refreshPosts(){
			$.get("/post/{{ id }}/", {since: base, format: "html"}, function(data){
				location.reload();
			});
		}
	</script>
{% endif %}

<div class="post" data-id="{{ id }}">
	<table>
		<tr>
			<td><img class="profile-picture" src="{{ picture }}"></td>
			
			<td>
				<table>
					<tr class="username">
						<th><a href="/profile/{{ username }}" data-id="{{ toon_id }}">{{ toon_name }}</a></th>
					</tr>
					
					<tr class="content">
						<td>{{ post|post_filter }}</td>
					</tr>

					{% if image_attachment %}
						<tr class="image-attachment">
							<td><img src="{{ image_attachment.image }}"></td>
						</tr>
					{% endif %}
					
					<tr class="actions">
						{% if broadcast %}
							<td><span class="glyphicon glyphicon-volume-up" aria-hidden="true"></span></td>
						{% endif %}
						{% if likes|length > 0 %}
							<td><a href="#" class="likes" title="{% for like in likes %}{% if forloop.counter == likes.count and forloop.counter > 1 %}and {% endif %}{{ like.get_user.toon_name }}{% if forloop.counter != likes.count %},{% endif%} {% endfor %}liked this">{{ likes|length }} liked this</a></td>
						{% endif %}
						<td><a href="#" class="like-action-post">{{ liked|yesno:"Unlike,Like" }}</a></td>
						<td><a href="#" class="comment-action">Comment</a></td>
						<td><a href="#" class="share-action">Share</a></td>
						{% if created %}
							<td><a href="#" class="delete-action-post">Delete</a></td>
						{% endif %}
						<td><abbr title="{{ date }}">{{ date|timesince }} ago</abbr></td>
					</tr>
				</table>
			</td>
		</tr>
	</table>
	
	<table class="comments">
		{% autoescape off %}
			{% clean_comments comments standalone id %}
		{% endautoescape %}
		
		<tr>
			<td>
				<form action="#" method="POST" class="submit_comment">
					<div class="alert alert-danger comment-error" style="display: none" role="alert">
						<span class="glyphicon glyphicon-exclamation-sign" aria-hidden="true"></span>
						<span class="sr-only">Error:</span>
						<span class="comment-error-text"></span>
					</div>
					
					{% csrf_token %}
					{{ comment_form.as_p }}
					<input type="submit" name="submit" value="Comment">
				</form>
			</td>
		</tr>
	</table>
</div>
