{% extends "base.html" %}

{% block container %}
	<div class="center">
		<h1>Activation Success</h1><hr>
		<p>Thank you for verifying your email, {{ username }}.</p>
		<p>You must now wait for an admin to approve your account to use Toonbook.</p>
		<p>Please check back in a few days!</p>
	</div>
{% endblock container %}
