<p>Hello {{ username }},</p><br>
<p>Thank you for joining Toonbook. To verify your email address and continue, please click the following link:</p>
<p><a href="http://beta.toonbook.me/verify/{{ activation_url }}">http://beta.toonbook.me/verify/{{ activation_url }}</a></p><br> {% comment %} beta.toonbook.me is a placeholder. If this is used on any other domain, this must be changed. {% endcomment %}
<p>Stay Tooned,</p>
<p>Toonbook</p>