{% extends "base.html" %}
{% block container %}
	<h1>Hello, {{ user.toon_name }}</h1><hr>
	
	<div class="table-responsive">
		<h3>Filters</h3>
		
		<table class="table">
			<tr>
				<th>Replace</th>
				<th>With</th>
				<th>Delete</th>
			</tr>
			
			<form action="/admin_panel/filter/" method="POST">
				{% csrf_token %}
				{{ filter_form.as_p }}
				<input type="submit" value="Add filter">
			</form>
			
			{% for filter in filters %}
				<tr>
					<td>{{ filter.replace }}</td>
					<td>{{ filter.with_this }}</td>
					<td>
						<form action="/admin_panel/filter/" method="DELETE">
							<input type="hidden" name="id" value="{{ filter.pk }}">
							<input type="submit" name="submit" value="Delete">
						</form>
					</td>
				</tr>
			{% endfor %}
		</table>
		
		<h3>Unapproved accounts</h3>
		<p>There are <b>{{ accounts|length }}</b> unapproved accounts.</p>
		
		<table class="table">
			<tr>
				<th>Account username</th>
				<th>Toon name</th>
				<th>Approve</th>
			</tr>
			
			{% for account in accounts %}
				<tr>
					<td>{{ account.username }}</td>
					<td>{{ account.toon_name }}</td>
					<td>
						<form action="/admin_panel/approve/" method="PATCH" style="display: inline">
							<input type="hidden" name="id" value="{{ account.pk }}">
							<input type="submit" name="submit" value="Approve">
						</form>
						
						<form action="/admin_panel/approve/" method="DELETE" style="display: inline">
							<input type="hidden" name="id" value="{{ account.pk }}">
							<input type="submit" name="submit" value="Delete">
						</form>
					</td>
				</tr>
			{% endfor %}
		</table>
	</div>
{% endblock %}
