{% extends "base.html" %}

{% block container %}
	<h3>{{ album.title }}</h3><hr>

	<table>	
		{% for picture in album.get_images %}
			{% if forloop.counter0|divisibleby:"4" %}
				{% if forloop.counter0 > 0 %}
					</tr>
				{% endif %}

				<tr>
			{% endif %}

			<td style="padding-right: 10px">
				<img src="{{ picture.image }}">
			</td>
		{% endfor %}
		</tr>
	</table>
{% endblock %}
