{% extends "base.html" %}

{% block container %}
	<h1>Add Album</h1>

	<form action="" method="POST">
		{% csrf_token %}
		{{ form.as_p }}
		<input type="submit" name="submit" value="Add Album">
	</form>
{% endblock %}
