{% load staticfiles %}
<!--
  _______                _                 _      _____                    _ _   _             
 |__   __|              | |               | |    |  __ \                  (_) | | |            
    | | ___   ___  _ __ | |__   ___   ___ | | __ | |__) |_____      ___ __ _| |_| |_ ___ _ __  
    | |/ _ \ / _ \| '_ \| '_ \ / _ \ / _ \| |/ / |  _  // _ \ \ /\ / / '__| | __| __/ _ \ '_ \ 
    | | (_) | (_) | | | | |_) | (_) | (_) |   <  | | \ \  __/\ V  V /| |  | | |_| ||  __/ | | |
    |_|\___/ \___/|_| |_|_.__/ \___/ \___/|_|\_\ |_|  \_\___| \_/\_/ |_|  |_|\__|\__\___|_| |_|
                                                                                               
                                                                                               
by Master Bart, creator of Toonbook Buddy
For use within toonbook.me
-->
<!DOCTYPE html>
<html>
	<head>
		<title>Toonbook - {{ title }}</title>
		
		<link rel="icon" href="{% static 'img/favicon.ico' %}" type="image/x-icon">
		<link rel="stylesheet" href="{% static 'css/bootstrap.min.css' %}">
		<link rel="stylesheet" href="{% static 'css/bootstrap-theme.min.css' %}">
		<link rel="stylesheet" href="{% static 'css/toonbook.css' %}">
		
		<script src="{% static 'js/jquery.js' %}"></script>
		<script src="{% static 'js/bootstrap.min.js' %}"></script>
		<script src="{% static 'js/js.cookie.js' %}"></script>
		<script src="{% static 'js/toonbook.js' %}"></script>
		
		{% block javascript %}{% endblock %}
	</head>
	
	<body>
		<div class="topbar">
			<a href="/"><img src="{% static 'img/logo.png' %}"></a>

			<span id="actions">
				{% if logged_in %}
					<div class="profile-actions" style="display: none">
						<a href="/profile/{{ user.username }}/">My Profile</a><br>
						<a href="/logout/">Logout</a>
					</div>
					<a href="#" id="notifications" style="padding-right: 10px"><span class="glyphicon glyphicon-globe"><span class="number">{% if notifications|length > 0 %} {{ notifications|length }}{% endif %}</span></span></a>
					<a href="/profile/{{ user.username }}/" id="profile">{{ user.toon_name }}</a>
				{% else %}
					<a href="/login/">Login</a> - 
					<a href="/register/">Register</a>
				{% endif %}
			</span>

			<br>
			
			<div class="notifications-bar" style="display: none">
				<b style="float: right; cursor: pointer; height: 100%" onclick="$('.notifications-bar').hide()">X</b>
				<div style="width: 100%; margin-top: 10px" id="notifications-window">{% include "figures/notifications.html" %}</div>
			</div>
		</div>
		
		<div class="image-attachment" style="display: none">
			<img>
		</div>

		<!-- because im an idiot and cant properly do css -->
		<div class="topbar-block"></div>
		
		<div class="container">
			<noscript><b>We have detected that Javascript is disabled. This will make Toonbook almost completely unusable. Please turn Javascript on to get the full experience.</b></noscript>
			{% block container %}{% endblock %}
		</div>

		<div class="footer">
			<a href="/privacy/">Privacy</a> - <a href="/tos/">Terms of Service</a> - <a href="mailto:support@toonbook.me">Contact</a> - <a href="http://status.toonbook.me">Status</a>
		</div>
	</body>
</html>
