 {% extends "base.html" %}
{% load staticfiles %}

{% block javascript %}
	{{ block.super }}

	<link rel="stylesheet" href="{% static 'css/images.css' %}">
{% endblock %}

{% block container %}
	<table>	
		{% if profile.pk == user.pk %}
			<tr><td><a href="/profile/{{ profile.username }}/images/add/" style="margin-bottom: 10px" type="button" class="btn btn-default btn-xs"><span class="glyphicon glyphicon-plus"></span></a></td></tr>
		{% endif %}

		{% for album in albums %}
			{% if forloop.counter0|divisibleby:"4" %}
				{% if forloop.counter0 > 0 %}
					</tr>
				{% endif %}

				<tr>
			{% endif %}

			<td style="padding-right: 10px">
				<a href="/profile/{{ profile.username }}/images/{{ album.pk }}/">
					<div class="album" style="{% if album.get_images|length > 0 %}background-image: url({{ album.get_images.last.image }}){% else %}background-color: gray{% endif %}"></div>
					<b>{{ album.title }}</b>
				</a>

				<form action="/profile/{{ profile.username }}/images/{{ album.pk }}/" method="DELETE">
					<button {% if forloop.counter0 < 1 %} disabled {% endif %} type="submit" name="submit" style="margin-bottom: 10px" type="button" class="btn btn-default btn-xs"><span class="glyphicon glyphicon-minus"></span> Delete</button>
				</form>
			</td>
		{% endfor %}
		</tr>
	</table>
{% endblock %}
