{% extends "base.html" %}
{% load staticfiles %}

{% block javascript %}
	{{ block.super }}
	
	{% if logged_in %}
		<script src="{% static 'js/index.js' %}"></script>
	{% endif %}
{% endblock %}

{% block container %}
	{% if logged_in %}
		<div class="alert alert-danger" id="post-error" style="display: none" role="alert">
			<span class="glyphicon glyphicon-exclamation-sign" aria-hidden="true"></span>
			<span class="sr-only">Error:</span>
			<span id="post-error-text"></span>
		</div>
		
		<form enctype="multipart/form-data" method="POST" action="#" class="write_post">
			{% csrf_token %}
			{{ write_post.as_p }}
			<input type="submit" name="submit" value="Write post">
		</form><br><hr><br>
		
		<span class="glyphicon glyphicon-refresh" aria-hidden="true" id="refresh"></span>
		
		<div class="col-xs-10 col-sm-10 col-md-10">
			<div class="posts">
				{% comment %} It's safe to use autoescape since the posts variable was already rendered by a past template. {% endcomment %}
				{% autoescape off %}
					{{ posts }}
				{% endautoescape %}
			</div>
		</div>
	{% else %}
		<h1>Meet new toons and find old ones without sharing any personal information.</h1><hr>
		<div class="center">
			<p>Toonbook is a social networking site designed for Toontown players, by Toontown players.</p>
			<p>Meet new friends, or find old ones.</p>
			<p>Keep in touch with your friends who no longer play Toontown.</p>
			
			<div style="font-size: 3em">
				<a href="/register/">Register</a> or <a href="/login/">Login</a>
			</div>
		</div>
	{% endif %}
{% endblock container %}
