{% extends "base.html" %}

{% block container %}
	<div class="center">
		<h1>Login</h1><hr>
		
		<form action="." method="POST">
			{% csrf_token %}
			
			{{ form.as_p }}
			
			<input type="submit" name="submit" value="Login">
		</form>
	</div>
{% endblock %}
