{% extends "base.html" %}
{% load staticfiles %}
{% load toonbook %}

{% block javascript %}
	{{ block.super }}
	
	{% if logged_in %}
		<script>
			var profile = "{{ profile.username }}";
			var profile_id = {{ profile.id }};
		</script>
		
		<script src="{% static 'js/profile.js' %}"></script>
	{% endif %}
{% endblock %}

{% block container %}
	<div class="profile-bar">
		<div>
			<img src="{{ profile.picture }}" style="width: 100px; height: 100px">
			<a href="/profile/{{ profile.username }}/"><h1 style="display: inline; position: absolute; bottom: 0; padding-left: 10px">{{ profile.toon_name }}</h1></a>
			<a href="/profile/{{ profile.username }}/panel/" type="button" class="btn btn-default" style="position: absolute; bottom: 0; right: 0;">Edit my Profile</a>
		</div>
	</div>
	
	<div>
		<div id="profile-info">
			<table>
				<tr>
					<th>Toon Name</th>
					<td>{{ profile.toon_name }}</td>
				</tr>
				
				<tr>
					<th>Toon Species</th>
					<td>{% toon_enum "species" profile.species %}</td>
				</tr>
				
				<tr>
					<th>Laff Points</th>
					<td>{{ profile.laff }}</td>
				</tr>
				
				<tr>
					<th>Toon-up</th>
					<td>{% toon_enum "toonup" profile.toon_up %}</td>
				</tr>
				
				<tr>
					<th>Trap</th>
					<td>{% toon_enum "trap" profile.trap %}</td>
				</tr>
				
				<tr>
					<th>Lure</th>
					<td>{% toon_enum "lure" profile.lure %}</td>
				</tr>
				
				<tr>
					<th>Sound</th>
					<td>{% toon_enum "sound" profile.sound %}</td>
				</tr>
				
				<tr>
					<th>Throw</th>
					<td>{% toon_enum "throw" profile.throw %}</td>
				</tr>
				
				<tr>
					<th>Squirt</th>
					<td>{% toon_enum "squirt" profile.squirt %}</td>
				</tr>
				
				<tr>
					<th>Drop</th>
					<td>{% toon_enum "drop" profile.drop %}</td>
				</tr>
				
				<tr>
					<th>Sellbot Suit</th>
					<td>{% toon_enum "sellbot" profile.sellbot %}</td>
				</tr>
				
				<tr>
					<th>Cashbot Suit</th>
					<td>{% toon_enum "cashbot" profile.cashbot %}</td>
				</tr>
				
				<tr>
					<th>Lawbot Suit</th>
					<td>{% toon_enum "lawbot" profile.lawbot %}</td>
				</tr>
				
				<tr>
					<th>Bossbot Suit</th>
					<td>{% toon_enum "bossbot" profile.bossbot %}</td>
				</tr>
			</table>
		</div>
		
		<a href="/profile/{{ profile.username }}/images/">Images</a>
	</div><hr>
	
	<div class="col-xs-10 col-sm-10 col-md-10">
		<div class="posts">
			{% autoescape off %}
				{{ posts }}
			{% endautoescape %}
		</div>
	</div>
{% endblock %}
