{% extends "base.html" %}

{% load staticfiles %}

{% block container %}
	{% if form.subject.errors %}
		<ol>
			{% for error in form.subject.errors %}
				<li><strong>{{ error|escape }}</strong></li>
			{% endfor %}
		</ol>
	{% endif %}
	
	<form action="" method="POST" enctype="multipart/form-data">
		{% csrf_token %}
		{{ form.as_p }}
		<input type="submit" name="submit" value="Update">
	</form>
{% endblock %}
