{% extends "base.html" %}

{% block container %}
	<div class="center">
		<h1>Register</h1><hr>
		
		<form action method="POST">
			{% if form.subject.errors %}
				<ol>
					{% for error in form.subject.errors %}
						<li><strong>{{ error|escape }}</strong></li>
					{% endfor %}
				</ol>
			{% endif %}
			
			{% csrf_token %}
			{{ form.as_p }}
			<script src="https://www.google.com/recaptcha/api.js" async defer></script>
			<input type="submit" name="submit" value="Register">
		</form>
	</div>
{% endblock %}
