{% extends "base.html" %}

{% block container %}
	<div class="center">
		<h1>Register Complete</h1><hr>
		<p>Your registration has been completed.</p>
		<p>Please check your email for an activation link.</p>
	</div>
{% endblock container %}
